/* ul {
  padding: 10px 0;
} */
ul li {
  border-right: 1px solid #ccc;
}
ul li:last-child {
  border-right: none;
}

ul li a i {
  margin-right: 10px;
  font-size: 1.3em !important;
}
.logo {
  font-size: 1.8em;
  letter-spacing: 5px;
}
.myActive {
  color: #dc1440 !important;
}
@media only screen and (max-width: 768px) {
  ul li {
    border-right: none;
  }
}
